{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>考试</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'administrator_app/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'administrator_app/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="{% static 'administrator_app/css/dataTables.bootstrap4.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'administrator_app/css/style.css' %}">
    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'administrator_app/photo/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'node_modules/MDI/@mdi/font/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'student_app/css/test.css' %}">
    <link rel="stylesheet" href="{% static 'css/firstPage.css' %}">

    <style type="text/css">/* Chart.js */
    @keyframes chartjs-render-animation {
        from {
            opacity: .99
        }
        to {
            opacity: 1
        }
    }

    .chartjs-render-monitor {
        animation: chartjs-render-animation 1ms
    }

    .chartjs-size-monitor,
    .chartjs-size-monitor-expand,
    .chartjs-size-monitor-shrink {
        position: absolute;
        direction: ltr;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        pointer-events: none;
        visibility: hidden;
        z-index: -1
    }

    .chartjs-size-monitor-expand > div {
        position: absolute;
        width: 1000000px;
        height: 1000000px;
        left: 0;
        top: 0
    }

    .chartjs-size-monitor-shrink > div {
        position: absolute;
        width: 200%;
        height: 200%;
        left: 0;
        top: 0
    }
    </style>
    <script>
        function redirectToHome() {
            window.location.href = "{% url 'administrator_app:home_administrator' %}"
        }

        function redirectToNotice() {
            window.location.href = "{% url 'administrator_app:notice_administrator' %}"
        }

        function redirectToRepository() {
            window.location.href = "{% url 'administrator_app:repository_administrator' %}"
        }

        function redirectToProfile() {
            window.location.href = "{% url 'administrator_app:profile_administrator' %}"
        }

        function redirectToProblems() {
            window.location.href = "{% url 'administrator_app:problems_administrator' %}"
        }

        function redirectToInformation() {
            window.location.href = "{% url 'administrator_app:information_administrator' %}"
        }

        function redirectToAdminExam() {
            window.location.href = "{% url 'administrator_app:exam_administrator' %}"
        }
    </script>
</head>
<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="navbar-brand-wrapper d-flex justify-content-center">
            <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-sort-variant"></span>
                </button>
            </div>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
            <ul class="navbar-nav mr-lg-4 w-100">
                <li class="nav-item nav-search d-none d-lg-block w-100">
                    <div class="input-group">
                        <div class="input-group-prepend">
                <span class="input-group-text" id="search">
                  <i class="mdi mdi-magnify"></i>
                </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Search now" aria-label="search"
                               aria-describedby="search">
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right">

                <li class="nav-item nav-profile dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                        <img src="{% static 'student_app/photo/face5.jpg' %}" alt="profile">
                        <span class="nav-profile-name">{{ user_id }}</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                        <a class="dropdown-item" href="{% url 'administrator_app:profile_administrator' %}">
                            <i class="mdi mdi-settings text-primary"></i>
                            设置
                        </a>
                        <a class="dropdown-item" href="{% url 'login:log_out' %}">
                            <i class="mdi mdi-logout text-primary"></i>
                            退出
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="redirectToHome()">
                        <i class="mdi mdi-home menu-icon"></i>
                        <span class="menu-title">学情分析</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#" onclick="redirectToRepository()"
                       aria-expanded="false" aria-controls="auth">
                        <i class="mdi mdi-source-repository-multiple menu-icon"></i>
                        <span class="menu-title">GUI题库</span>
                        <i class="menu-arrow"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#" onclick="redirectToProblems()"
                       aria-expanded="false" aria-controls="auth">
                        <i class="mdi mdi-source-repository menu-icon"></i>
                        <span class="menu-title">查重管理</span>
                        <i class="menu-arrow"></i>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#" onclick="redirectToAdminExam()">
                        <i class="mdi mdi-candy-outline menu-icon"></i>
                        <span class="menu-title">考试</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="redirectToNotice()">
                        <i class="mdi mdi-bulletin-board menu-icon"></i>
                        <span class="menu-title">通知</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#" onclick="redirectToInformation()"
                       aria-expanded="false" aria-controls="auth">
                        <i class="mdi mdi-information-box menu-icon"></i>
                        <span class="menu-title">教师管理</span>
                        <i class="menu-arrow"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#" onclick="redirectToProfile()"
                       aria-expanded="false" aria-controls="auth">
                        <i class="mdi mdi-account menu-icon"></i>
                        <span class="menu-title">个人中心</span>
                        <i class="menu-arrow"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-title">考试列表</p>
                            <div class="table-responsive"
                                 style="max-height: 300px; overflow-y: auto; overflow-x: hidden;">
                                <div id="recent-purchases-listing_wrapper"
                                     class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6"></div>
                                        <div class="col-sm-12 col-md-6"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table class="table dataTable no-footer" role="grid">
                                                <thead>
                                                <tr role="row">
                                                    <th class="sorting_asc" tabindex="0"
                                                        aria-controls="recent-purchases-listing" rowspan="1" colspan="1"
                                                        aria-sort="ascending"
                                                        aria-label="Name: activate to sort column descending"
                                                        style="width: 167.95px;">题目
                                                    </th>
                                                    <th class="sorting" tabindex="0"
                                                        aria-controls="recent-purchases-listing" rowspan="1" colspan="1"
                                                        aria-label="Office: activate to sort column ascending"
                                                        style="width: 155.6px;">发布时间
                                                    </th>
                                                    <th class="sorting" tabindex="0"
                                                        aria-controls="recent-purchases-listing" rowspan="1" colspan="1"
                                                        aria-label="Price: activate to sort column ascending"
                                                        style="width: 72.575px;">发布人
                                                    </th>
                                                    <th class="sorting" tabindex="0"
                                                        aria-controls="recent-purchases-listing" rowspan="1" colspan="1"
                                                        aria-label="Price: activate to sort column ascending"
                                                        style="width: 72.575px;">截止时间
                                                    </th>

                                                    <th class="sorting" tabindex="0"
                                                        aria-controls="recent-purchases-listing" rowspan="1" colspan="1"
                                                        aria-label="Price: activate to sort column ascending"
                                                        style="width: 72.575px;">操作
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for exam in exams %}
                                                    <tr role="row"
                                                        class="{{ forloop.counter|divisibleby:2|yesno:'even,odd' }}">
                                                        <td class="sorting_1"
                                                            id="question{{ question.id }}"> {{ exam.title }}
                                                        </td>
                                                        <td>{{ exam.published_at }}</td>
                                                        <td>{{ exam.teacher.name }}</td>
                                                        <td>{{ exam.deadline }}</td>
                                                        <td>
                                                            <button class="button-class delete-exam btn-default"
                                                                    data-exam-id="{{ exam.id }}">删除
                                                            </button>
                                                            <button class="button-class edit-exam btn-default"
                                                                    data-exam-id="{{ exam.id }}">编辑
                                                            </button>
                                                        </td>
                                                    </tr>
                                                {% empty %}
                                                    <tr>
                                                        <td colspan="6" style="text-align: center;">没有考试内容</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-5"></div>
                                <div class="col-sm-12 col-md-7">
                                    <button onclick="window.location.href='{% url 'administrator_app:admin_examlist_default' %}'"
                                            class="btn-default" style="float: right;">发布考试
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- plugins:js -->
<script type="text/javascript" src="{% static 'administrator_app/js/vendor.bundle.base.js' %}"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<script type="text/javascript" src="{% static 'administrator_app/js/Chart.min.js' %}"></script>
<script type="text/javascript" src="{% static 'administrator_app/js/jquery.dataTables.js' %}"></script>
<script type="text/javascript" src="{% static 'administrator_app/js/dataTables.bootstrap4.js' %}"></script>
<!-- End plugin js for this page-->
<!-- inject:js -->
<script type="text/javascript" src="{% static 'administrator_app/js/off-canvas.js' %}"></script>
<script type="text/javascript" src="{% static 'administrator_app/js/hoverable-collapse.js' %}"></script>
<script type="text/javascript" src="{% static 'administrator_app/js/template.js' %}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script type="text/javascript" src="{% static 'administrator_app/js/dashboard.js' %}"></script>
<script type="text/javascript" src="{% static 'administrator_app/js/data-table.js' %}"></script>
<script type="text/javascript" src="{% static 'administrator_app/js/jquery.dataTables(1).js' %}"></script>
<script type="text/javascript" src="{% static 'administrator_app/js/dataTables.bootstrap4(1).js' %}"></script>
<script src="{% static 'administrator_app/js/jquery.cookie.js' %}" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $('.delete-exam').on('click', function () {
            var examId = $(this).data('exam-id');
            $.ajax({
                url: "{% url 'administrator_app:adminexam_delete' %}",
                type: 'POST',
                data: {
                    'exam_id': examId,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (response) {
                    window.location.reload()
                },
                error: function (response) {
                    alert(response.responseJSON.message);
                }
            });
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('.edit-exam').on('click', function () {
            var examId = $(this).data('exam-id');
            window.location.href = "{% url 'administrator_app:adminexam_edit' '123' %}".replace('123', examId);
        });
    });
</script>
</body>
</html>
