 /* Add your custom CSS styles here */

    .container-flex {
      display: flex;
      flex: 1;
    }

    .problem-container, .editor-container {
      flex: 1;
      overflow: auto;
      height: 100vh;
      padding: 20px;
      box-sizing: border-box;
    border:2px solid purple;
    border-radius:10px;
    }


/* 调试器样式 */
#debugger {
    resize: vertical; /* 允许垂直调整大小 */
    overflow: auto; /* 当内容过多时显示滚动条 */
    max-height: 50%; /* 限制调试器的最大高度，可根据需要修改 */
    min-height: 30px; /* 最小高度以确保把手可见 */
    position: relative; /* 设置为relative以防止高度调整影响其他元素布局 */
}

/* 创建一个拖动把手 */
.resize-handle {
    height: 10px; /* 把手的高度 */
    background:blue; /* 把手的背景颜色，确保可见性 */
    cursor: row-resize; /* 显示一个指示可拖动的光标 */
    position: absolute; /* 绝对定位 */
    bottom: 0; /* 底部对齐 */
    left: 0; /* 左侧对齐 */
    right: 0; /* 右侧对齐 */
    z-index: 9999; /* 确保把手层级在顶层 */
}


   /* 切换按钮样式 */
.toggle-buttons {
  display: flex;
  align-items: center;
  border-top: 1px solid #ccc; /* 上边框 */
  padding: 1px;
  border-radius: 10px 10px 10px 10px; /* 圆角矩形样式，上方左右两个角 */
  background-color: mediumpurple; /* 按钮背景颜色 */
}

/* 单个按钮样式 */
.toggle-buttons button {
  padding: 2px 10px;
  border: none;
  cursor: pointer;
  background-color: transparent;
    border-right: 1px solid #ccc;
}

/* 按钮激活状态的样式 */
.toggle-buttons button:focus {
  background-color: purple; /* 激活状态背景颜色 */
}


    .panel {
      /* Panel styles go here */
    }