{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>作业情况</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'teacher_app/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'teacher_app/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="{% static 'teacher_app/css/dataTables.bootstrap4.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'teacher_app/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'teacher_app/css/test.css' %}">
    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'teacher_app/photo/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'node_modules/MDI/@mdi/font/css/materialdesignicons.min.css' %}">

    <style type="text/css">/* Chart.js */
    @keyframes chartjs-render-animation {
        from {
            opacity: .99
        }
        to {
            opacity: 1
        }
    }

    .chartjs-render-monitor {
        animation: chartjs-render-animation 1ms
    }

    .chartjs-size-monitor,
    .chartjs-size-monitor-expand,
    .chartjs-size-monitor-shrink {
        position: absolute;
        direction: ltr;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        pointer-events: none;
        visibility: hidden;
        z-index: -1
    }

    .chartjs-size-monitor-expand > div {
        position: absolute;
        width: 1000000px;
        height: 1000000px;
        left: 0;
        top: 0
    }

    .chartjs-size-monitor-shrink > div {
        position: absolute;
        width: 200%;
        height: 200%;
        left: 0;
        top: 0
    }
    </style>
    <script>
        function redirectToHome() {
            window.location.href = "{% url 'teacher_app:home_teacher' %}"
        }

        function redirectToNotice() {
            window.location.href = "{% url 'teacher_app:notice_teacher' %}";
        }

        function redirectToTest() {
            window.location.href = "{% url 'teacher_app:coursework_exercise' %}";
        }

        function redirectToProfile() {
            window.location.href = "{% url 'teacher_app:profile_teacher' %}"
        }

        function redirectToRepository() {
            window.location.href = "{% url 'teacher_app:repository_teacher' %}"
        }

        function redirectToClass() {
            window.location.href = "{% url 'teacher_app:class_teacher' %}"
        }

    </script>
    <style>
        table tbody tr:hover {
            background-color: #f2f2f2;
        }

        .card-item.card-title:hover {
            background-color: #f2f2f2;
            cursor: pointer;

        }

    </style>
</head>
<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="navbar-brand-wrapper d-flex justify-content-center">
            <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-sort-variant"></span>
                </button>
            </div>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
            <ul class="navbar-nav mr-lg-4 w-100">
                <li class="nav-item nav-search d-none d-lg-block w-100">
                    <div class="input-group">
                        <div class="input-group-prepend">
                <span class="input-group-text" id="search">
                  <i class="mdi mdi-magnify"></i>
                </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Search now" aria-label="search"
                               aria-describedby="search">
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item dropdown mr-4">
                    <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center notification-dropdown"
                        id="notificationDropdown" href="#" data-toggle="dropdown">
                        <i class="mdi mdi-bell mx-0"></i>
                        <span class="count">{{ adminnotifications.count }}</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown"
                        aria-labelledby="notificationDropdown" style="height: 200px; overflow-y: auto;">
                        <p class="mb-0 font-weight-normal float-left dropdown-header">公告</p>
                        {% for adminnotification in adminnotifications %}
                            <a class="dropdown-item adminnotification-item" data-adminnotification-id="{{ adminnotification.id }}">
                                <div class="item-thumbnail">
                                    <div class="item-icon bg-success">
                                        <i class="mdi mdi-information mx-0"></i>
                                    </div>
                                </div>
                                <div class="item-content">
                                    <h6 class="font-weight-normal">{{ adminnotification.title|truncatechars:30 }}</h6>
                                    <p class="font-weight-light small-text mb-0 text-muted">
                                        {{ adminnotification.date_posted }}
                                    </p>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </li>
                <li class="nav-item nav-profile dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                        <img src="{% static 'student_app/photo/face5.jpg' %}" alt="profile">
                        <span class="nav-profile-name">{{ user_id }}</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                        <a class="dropdown-item" href="{% url 'teacher_app:profile_teacher' %}">
                            <i class="mdi mdi-settings text-primary"></i>
                            设置
                        </a>
                        <a class="dropdown-item" href="{% url 'login:log_out' %}">
                            <i class="mdi mdi-logout text-primary"></i>
                            退出
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="redirectToHome()">
                        <i class="mdi mdi-home menu-icon"></i>
                        <span class="menu-title">GUI编程</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" data-toggle="collapse" href="#" onclick="redirectToTest()" aria-expanded="false"
                       aria-controls="ui-basic">
                        <i class="mdi mdi-chart-pie menu-icon"></i>
                        <span class="menu-title">作业情况</span>
                        <i class="menu-arrow"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#" onclick="redirectToRepository()"
                       aria-expanded="false" aria-controls="auth">
                        <i class="mdi mdi-source-repository-multiple menu-icon"></i>
                        <span class="menu-title">我的题库</span>
                        <i class="menu-arrow"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="redirectToNotice()">
                        <i class="mdi mdi-bulletin-board menu-icon"></i>
                        <span class="menu-title">通知</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#" onclick="redirectToClass()"
                       aria-expanded="false" aria-controls="auth">
                        <i class="mdi mdi-microsoft-teams menu-icon"></i>
                        <span class="menu-title">班级管理</span>
                        <i class="menu-arrow"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#" onclick="redirectToProfile()"
                       aria-expanded="false" aria-controls="auth">
                        <i class="mdi mdi-account menu-icon"></i>
                        <span class="menu-title">个人中心</span>
                        <i class="menu-arrow"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body dashboard-tabs p-0">
                            <div class="tab-content py-0 px-0">
                                <!--班级完成情况-->
                                <div class="row">
                                    <div class="col-md-7 grid-margin stretch-card">
                                        <div class="card">
                                            <div class="card-body">
                                                <p class="card-title">班级完成情况</p>
                                                <div id="cash-deposits-chart-legend"
                                                     class="d-flex justify-content-center pt-3"></div>
                                                <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
                                                <div id="cash-deposits-chart" style="width: 600px;height:400px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--练习考试切换-->
                                    <div class="col-md-5 grid-margin stretch-card">
                                        <div class="card">
                                            <div class="card-body">
                                                <!-- 添加切换按钮 -->
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-type="exercise">学生练习
                                                    </button>
                                                    <button type="button" class="btn btn-secondary exam-button"
                                                            data-type="exam">班级考试
                                                    </button>
                                                    <button type="button" class="btn btn-secondary adminexam-button"
                                                            data-type="adminexam">年级考试
                                                    </button>
                                                </div>
                                              <div class="table-responsive" style="max-height: 300px; overflow-y: auto; overflow-x: hidden;">
                                                <div class="row">
                                                    <table class="table">
                                                        <thead>
                                                        <tr>
                                                            <th scope="col">名称</th>
                                                            <th scope="col">发布时间</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for question in coursework %}
                                                            <tr data-id="{{ question.id }}">
                                                                <td>{{ question.title }}</td>
                                                                <td>{{ question.published_at }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" stretch-card">
                <div class="card">
                    <div class="card-body">
                        <p class="card-title">班级列表</p>
                        <div class="table-responsive" style="max-height: 300px; overflow-y: auto; overflow-x: hidden;">
                            <div class="table-responsive">
                                <div class="card-container">
                                    {% for class in classes %}
                                        <div class="card class-id" data-class-id="{{ class.id }}">
                                            <div class="card-item card-title">{{ class.name }}</div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- partial -->
                        </div>
                        <!-- main-panel ends -->
                    </div>
                    <!-- page-body-wrapper ends -->
                </div>
                <!-- container-scroller -->
            </div>
          </div>
         </div>
        </div>
    </div>
<!-- Modal -->
<div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="notificationModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="notificationModalLabel">通知</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="notificationModalContent">
                <!-- 通知内容将在这里显示 -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<!-- plugins:js -->
<script type="text/javascript" src="{% static 'teacher_app/js/vendor.bundle.base.js' %}"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<script type="text/javascript" src="{% static 'teacher_app/js/Chart.min.js' %}"></script>
<script type="text/javascript" src="{% static 'teacher_app/js/jquery.dataTables.js' %}"></script>
<script type="text/javascript" src="{% static 'teacher_app/js/dataTables.bootstrap4.js' %}"></script>
<!-- End plugin js for this page-->
<!-- inject:js -->
<script type="text/javascript" src="{% static 'teacher_app/js/off-canvas.js' %}"></script>
<script type="text/javascript" src="{% static 'teacher_app/js/hoverable-collapse.js' %}"></script>
<script type="text/javascript" src="{% static 'teacher_app/js/template.js' %}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script type="text/javascript" src="{% static 'teacher_app/js/dashboard.js' %}"></script>
<script type="text/javascript" src="{% static 'teacher_app/js/data-table.js' %}"></script>
<script type="text/javascript" src="{% static 'teacher_app/js/jquery.dataTables(1).js' %}"></script>
<script type="text/javascript" src="{% static 'teacher_app/js/dataTables.bootstrap4(1).js' %}"></script>
<!-- End custom js for this page-->
<script src="{% static 'teacher_app/js/jquery.cookie.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/echarts/dist/echarts.min.js' %}"></script>
<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('cash-deposits-chart'));
    var option = {
        tooltip: {},
        legend: {
            data: ['完成情况']
        },
        xAxis: {
            data: ["班级1", "班级2", "班级3", "班级4", "班级5", "班级6"]
        },
        yAxis: {},
        series: [{
            name: '完成情况',
            type: 'bar',
            data: [0.4, 0.2, 1, 0.3, 0.5, 0.3]
        }]
    };
    myChart.setOption(option);
</script>
<script>
    $(function () {
        $('.btn-group .btn-secondary[data-type="exercise"]').addClass('active')

        $('.btn-group .btn-secondary.exam-button').click(function () {
            window.location.href = "{% url 'teacher_app:coursework_exam' %}"
        });
        $('.btn-group .btn-secondary.adminexam-button').click(function () {
            window.location.href = "{% url 'teacher_app:coursework_adminexam' %}"
        });

        $('table tbody').on('click', 'tr', function () {
            var id = $(this).data('id');
            var type = $('.btn-group .btn-secondary.active').data('type');
            $.ajax({
                url: "{% url 'teacher_app:coursework_data' %}",
                type: 'POST',
                data: {
                    'id': id,
                    'type': type,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (response) {
                    updateChart(response.data);
                },
                error: function (response) {
                    alert(response.responseJSON.message);
                }
            });
        });
    })

    // 更新柱状图的函数
    function updateChart(data) {
        var myChart = echarts.init(document.getElementById('cash-deposits-chart'));
        var classNames = data.map(function (item) {
            return item.class_name;
        });
        var completionRates = data.map(function (item) {
            return item.completion_rate;
        });
        var option = {
            tooltip: {},
            legend: {
                data: ['完成情况']
            },
            xAxis: {
                data: classNames
            },
            yAxis: {
                type: 'value',
                min: 0,
                max: 1,
                axisLabel: {
                    formatter: function(value) {
                        return (value * 100) + "%";
                    }
                }},
            series: [{
                name: '完成情况',
                type: 'bar',
                data: completionRates,
                 barWidth: '55'
            }]
        };
        myChart.setOption(option);
    }
</script>
<script>
    $(document).ready(function(){
        $("table tbody tr").click(function(){
            $("table tbody tr").css("background-color", ""); // 添加这行，恢复所有行原本的背景颜色
            $(this).css("background-color", "#f2f2f2"); // 让点击的那一行变为灰色
        });
    });
</script>
<script>
    $(document).ready(function () {
         $('.class-id').on('click', function () {
            var classId = $(this).data('class-id');
            window.location.href = "{% url 'teacher_app:coursework_exercise_details' '123' %}".replace('123', classId);
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('.adminnotification-item').on('click', function () {
            var adminnotificationId = $(this).data('adminnotification-id');
            $.ajax({
                url: "{% url 'administrator_app:notification_content' %}",
                type: 'POST',
                data: {
                    'notification_id': adminnotificationId,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (response) {
                    // 更新模态框的内容
                    $('#notificationModalLabel').text(response.title);
                    $('#notificationModalContent').text(response.content);
                    // 显示模态框
                    $('#notificationModal').modal('show');
                },
                error: function (response) {
                    alert(response.responseJSON.message);
                }
            });
        });
    });
</script>
</body>
</html>